.header {
  width: 100%;
  height: 60px;
  box-shadow: 0 1px 5px;
}

.content {
  width: 1200px;
  height: 60px;
  margin: auto;
}

.searchBar {
  height: 35px;
  margin-left: 10px;
  margin-top: 10px;
}

.account {
  margin-left: 17px;
  margin-top: 10px;
}

.account span {
  font-size: 12px;
}